.white-card {
  color: black;
  width: 260px;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  padding: 20px;
  border-radius: 15px;
  height: 400px;
  background-color: white;
  background: linear-gradient(135deg, #ffffff 0%, #bbbbbb 100%);
  border: 1px black solid;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.black-card {
  color: white;
  width: 260px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding: 20px;
  border-radius: 15px;
  height: 400px;
  background-color: black;
  background: linear-gradient(135deg, #222222 0%, #000000 100%);
  border: 1px black solid;
  margin: auto;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.75);
}